@using Webdiyer.WebControls.Mvc;
@using Entity;
@model PagedList<MyRoles>

<table class="table table-border table-bordered table-hover table-bg">
    <thead>
        <tr>
            <th scope="col" colspan="6">角色管理</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="130">ID</th>
            <th width="200">角色名</th>
            <th>用户列表</th>
            <th width="300">描述</th>
            <th width="100">是否已启用</th>
            <th width="70">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="" name=""></td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a href="#">admin</a></td>
                <td>@item.Description</td>
                <td class="td-status">
                    @if (item.Status == 1)
                    {
                        <span class="label label-success radius">已启用</span>
                    }
                    else
                    {
                        <span class="label label-default radius">已禁用</span>
                    }
                </td>

                <td class="td-manage">
                    @if (item.Status == 1)
                    {
                        <a style="text-decoration:none" onClick="admin_stop(this,'@item.Id')" href="javascript:;" title="停用">
                            <i class="Hui-iconfont">&#xe631;</i>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration:none" onClick="admin_start(this, '@item.Id')" href="javascript:;" title="启用">
                            <i class="Hui-iconfont">&#xe615;</i>
                        </a>
                    }


                    <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','admin-role-add.html','1')" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="admin_role_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
        }


    </tbody>

</table>
<div class="dataTables_info" role="status" aria-live="polite">显示 1 到 @Model.TotalItemCount ，共 @Model.TotalItemCount 条</div>

<div class="pageDiv">
    @Ajax.Pager(Model, new PagerOptions
{
    CssClass = "page",
    FirstPageText = "首页",
    LastPageText = "尾页",
    NextPageText = "下一页",
    PrevPageText = "上一页",
    PageIndexParameterName = "pageIndex",
    NumericPagerItemCount = 5,
    ContainerTagName = "ul",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>",
    PageIndexBoxId = "pageIndexBox",
}, new MvcAjaxOptions { UpdateTargetId = "content", HttpMethod = "get", DataFormId = "searchForm", EnableHistorySupport = false })

</div>