@using Webdiyer.WebControls.Mvc;

@model List<ViewModel.FunctionGroupTree>
 @{
      Layout = null;
         }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title> 
    <link href="~/Content/H-ui.css" rel="stylesheet" />

    <link href="~/Content/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Content/iconfont.css" rel="stylesheet" />
    <link href="~/Skin/default/skin.css" rel="stylesheet" id="skin" />
    <link href="~/Content/style.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DataOperate.js"></script>
    <script src="~/Lib/zTree/v3/js/jquery.ztree.core-3.5.min.js"></script>
    @*<script type="text/javascript" src="/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>*@

</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 菜单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form id="searchForm">
                <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
                <input type="text" name="roleName" placeholder="菜单名称" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜菜单</button>

            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">

                <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加菜单', '/Roles/CreateRole', '800')">
                    <i class="Hui-iconfont">&#xe600;</i> 添加菜单
                </a>
            </span>
            <span class="r">共有数据：<strong>11</strong> 条</span>


        </div>
        <div class="mt-20">
            <table class="table">
                <tr>
                    <td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
                    <td class="va-t"  id="content">
                        <table class="table table-border table-bordered table-hover table-bg">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="6">菜单管理</th>
                                </tr>
                                <tr class="text-c">
                                    <th width="25"><input type="checkbox" value="" name=""></th>
                                    <th width="130">ID</th>
                                    <th width="200">角色名</th>
                                    <th>用户列表</th>
                                    <th width="300">描述</th>
                                    <th width="70">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-c">
                                        <td><input type="checkbox" value="" name=""></td>
                                        <td>@item.id</td>
                                        <td>@item.name</td>
                                        <td><a href="#">admin</a></td>
                                        <td>@item.pId</td>
                                        <td class="td-manage">

                                            <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑', '/Roles/EditRole/@item.id', '1')" style="text-decoration:none">
                                                <i class="Hui-iconfont">&#xe6df;</i>
                                            </a>
                                            <a title="删除" href="javascript:;" onclick="admin_role_del(this,'@item.id')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                        </td>
                                    </tr>
                                }

                               
                            </tbody>

                        </table>

                    </td>
                </tr>
            </table>

        </div>
    </div>
    
    @*<div class="content_wrap">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div class="right">

            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                    <tr>
                        <th scope="col" colspan="6">角色管理</th>
                    </tr>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" value="" name=""></th>
                        <th width="130">ID</th>
                        <th width="200">角色名</th>
                        <th>用户列表</th>
                        <th width="300">描述</th>
                        <th width="70">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-c">
                            <td><input type="checkbox" value="" name=""></td>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td><a href="#">admin</a></td>
                            <td>@item.pId</td>
                            <td class="td-manage">

                                <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑', '/Roles/EditRole/@item.id', '1')" style="text-decoration:none">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                                <a title="删除" href="javascript:;" onclick="admin_role_del(this,'@item.id')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                    }


                </tbody>

            </table>
            @*<div class="dataTables_info" role="status" aria-live="polite">显示 1 到 @Model.TotalItemCount ，共 @Model.TotalItemCount 条</div>*@

            @*<div class="pageDiv">
                @Ajax.Pager(Model, new PagerOptions
{
    CssClass = "page",
    FirstPageText = "首页",
    LastPageText = "尾页",
    NextPageText = "下一页",
    PrevPageText = "上一页",
    PageIndexParameterName = "pageIndex",
    NumericPagerItemCount = 5,
    ContainerTagName = "ul",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>",
    PageIndexBoxId = "pageIndexBox",
}, new MvcAjaxOptions { UpdateTargetId = "content", HttpMethod = "get", DataFormId = "searchForm", EnableHistorySupport = false })

            </div> 
          

        </div>
    </div>*@
     
</body>
</html>
<script src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    var zNodes = JsonToJson('@Json.Encode(Model)');

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };  

    
   
    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
</script>